
@font-face {
    font-family: 'Kiyana Display';
    src: URL('KiyanaDisplay.otf') format('opentype');
}

body {
    font-size: 15px;
    color: white;
    background-color: black;
}

body h1 {
    font-size: 60px;
    font-family: "Kiyana Display";
    font-variant: small-caps;
    text-align: center;
    /*-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;*/
}

#divBody {
    background-color: gray;
    width: 1000px;
    height: 3000px;
    margin: auto;
}
