
@font-face {
    font-family: 'British Museum';
    src: URL('BritishMuseum.ttf') format('truetype');
}

body {
    font-size: 15px;
    color: white;
    background-color: black;
    font-family: "British Museum";
}

#divBody {
    background-color: gray;
    width: 1000px;
    height: 3000px;
    margin: auto;
}