<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
		<!-- favicon -->
		<meta name="author" content="Carter Smith" />
		<meta name="keywords" content="ENGCMP 1130, Final Project, Virtual Museum" />
		<link rel="stylesheet" href="static/style.css" />
	</head>
	<body>
		<div id="divBody">
			<h1><span class="MuseumUpper">T</span>he <span class="MuseumUpper">C</span>arter <span class="MuseumUpper">S</span>mith <span class="MuseumUpper">V</span>irtual <span class="MuseumUpper">M</span>useum</h1>
			<nav>
				<img src="" alt="------" width="" height="" />
				<a href="index.html">About</a>
				<img src="" alt="---" width="" height="" />
				<a href="exhibits.html">Exhibits</a>
				<img src="" alt="------" width="" height="" />
			</nav>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>