{% extends '_base.html' %}

{% block body_content %}
	<p class="about"><strong>Welcome to the site!</strong> This is a visual museum of all of my favorite/noteworthy video projects I've created for various assignments. The purpose of this exhibit is to show the development I've undergone with respect to video editing and audio mixing since the very first projects I've ever created. The "Exhibits" page features select videos dating as far back as 2014 (they are listed chronologically, though the YouTube upload dates may try to fool you otherwise!).</p>
	<br />
	<p class="about">I gained a passion for video editing during the early days of the internet thanks to all the videos on YouTube. The first videos I made were done on an iPad in middle school. I'd mostly use the pre-set movie trailers when making a video, but sometimes I'd venture off more independently in the normal editor. This was so early on in the life of the iPad that iMovie didn't even have a feature to cut footage yet! I had to duplicate a clip and manually trim it down to the same frame on either side in order to fake a cut. I pretty much continued editing on that iPad until 11th grade, since it was the only editor I had. 11th grade was when I discovered DaVinci Resolve, which is what I still use today. I don't suspect I'm done with video editing even though I probably won't have any more school projects. I'll always be looking forward to the next project— whatever it is, whenever it is.</p>
	<br />
	<div width="400px" height="500px">
		<img src="static/Portrait.png" alt="some pic of me" width="400px" height="500px" />
		<p>The most recent picture of me (from 4 AM)!</p>
	</div>
	<br />
{% endblock %}