{% extends '_base.html' %}

{% block body_content %}
	<p class="about">Welcome to the site! This is a visual museum of all my favorite noteworthy video projects throughout. The purpose of this overall shows how ive grown. Ill add more to this paragraph later. This p describes the exhibit</p>
	<br />
	<p class="about">Paragraph 2 describes me, why I like video editing, where it started, how far ive come, again ill probably type this tomorrow (today) or something i guess</p>
	<br />
	<img src="" alt="some pic of me" width="400px" height="400px" />
{% endblock %}